[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "trading-desk/contracts/lib/openzeppelin-contracts"]
	path = trading-desk/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "trading-desk/contracts/lib/forge-std"]
	path = trading-desk/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
